{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "cbx-mcp-server-k8s.fullname" . }}
  labels:
    {{- include "cbx-mcp-server-k8s.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: {{ .Values.ingress.path }}
            pathType: {{ .Values.ingress.pathType }}
            backend:
              service:
                name: {{ .Values.service.name | default (include "cbx-mcp-server-k8s.fullname" .) }}
                port:
                  number: {{ .Values.service.port }}
          {{- if ne .Values.ingress.path "/" }}
          - path: {{ .Values.ingress.path | trimSuffix "/" }}
            pathType: Exact
            backend:
              service:
                name: {{ .Values.service.name | default (include "cbx-mcp-server-k8s.fullname" .) }}
                port:
                  number: {{ .Values.service.port }}
          {{- end }}
{{- end }}
